*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 0px;
}

body{
    height: 100vw;
    width: 100vh;
    grid-template-rows: 65px 1fr;
    display: grid;
    overflow: hidden
}


header{
    display: flex;
    width: 1440vw;
    height: 65vh;
}


h1{
    position: absolute;
    width: 209vw;
    height: 46vh;
    left: 59px;
    top: -3px;
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 43px;
    color: #691900;
}

.containers{
    display: flex;
    position: absolute;
    width: 10vw;
    height: 6vh;
    left: 295px;
    top: 0px;
    background: #571F00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.foto__casa img{
    width: 3vw;
    height: 7vh;
    margin-left: 10px;
}

.inicio{
    position: absolute;
    width: 9vw;
    height: 2vh;
    left: 63px;
    top: 9px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 50vw;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
}
.foto__telefone{
    height: 100%;
}

.foto__telefone img{
    width: 20%;
    height: 100%;
    margin-left: 140px;
    position: absolute;
    top: 2px;
}

.contato{
    position: absolute; 
    width: 9vw;
    height: 8vh;
    left: 180px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.foto__carro img{
    width: 3vw;
    height: 7vh;
    margin-left: 264px;
    position: absolute;
    top: 1px;
}

.entrega{
    position: absolute;
    width: 8vw;
    height: 4vh;
    left: 308px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: black;
}

.foto__perfil img{
    width: 3vw;
    height: 7vh;
    margin-left: 610px;
    position: absolute;
    top: -2px;

}

.cadastre-se{
    position: absolute;
    width: 8vw;
    height: 4vh;
    left: 702px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.foto__porta img{
    width: 3vw;
    height: 7vh;
    top: -2px;
    position: absolute;
    margin-left: 790px;
}

.entrar{
    position: absolute;
    width: 6vw;
    height: 8vh;
    left: 880px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.frame2{
    position: absolute;
    width: 1440vw;
    height: 5vh;
    left: 0px;
    top: 35px;
    background: #E7CCA5;
}


main{
    width: 100vw;
    height: 98vh;
}

h2{
    position: absolute;
    width: 471vw;
    height: 111vh;
    left: 416px;
    top: 78px;
    font-family: 'Mouse Memoirs';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 10vh;
    color: #571F00;
    text-shadow: 12px 12px 9px rgba(0, 0, 0, 0.25);
}

h3{
    position: absolute;
    width: 761vw;
    height: 38vh;
    left: 235px;
    top: 150px;
    font-family: 'Mouse Memoirs';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #571F00;

}

.logo{
    background-color: white;
    height: 22vh;
}

.container3 img{
    background-image: url(./img/background.png);
    height: 72vh;
    width: 100vw;
}

.foto-sorvete img{
    width: 60vw;
    height: 40vh;
    
}

.frame3{
    display: flex;
    flex-direction: row;
    padding: 2px 591px;
    gap: 10px;
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 13vh;
    left: 0px;
    top: 196px;
    background: #571F00;
    border-radius: 0px 0px 900px 900px;
}

h4{
    width: 20vw;
    height: 25vh;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
}


