*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 0px;
}

body{
    height: 100vw;
    width: 100vh;
    grid-template-rows: 65px 1fr;
    display: grid;
    overflow: hidden
}


header{
    display: flex;
    width: 1440vw;
    height: 65vh;
}








h1{
    position: absolute;
    width: 209vw;
    height: 46vh;
    left: 59px;
    top: -3px;
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 43px;
    color: #691900;
}

.frame1{
    position: absolute;
    width: 10vw;
    height: 6vh;
    left: 295px;
    top: 0px;
    background: #571F00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.foto_casa{
    position: absolute;
    width: 7vw;
    height: 5vh;
    left: 20px;
    top: 2px;
    background-image: url(./img/image-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.inicio{
    position: absolute;
    width: 9vw;
    height: 2vh;
    left: 63px;
    top: 9px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 50vw;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
}

.foto_telefone{
    position: absolute;
    width: 6vw;
    height: 6vh;
    left: 453px;
    top: 1px;
    background-image: url(./img/telefone.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.contato{
    position: absolute; 
    width: 9vw;
    height: 8vh;
    left: 490px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.foto_carro{
    position: absolute;
    width: 8vw;
    height: 8vh;
    left: 578px;
    top: -4px;
    background-image: url(./img/carro.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.entrega{
    position: absolute;
    width: 8vw;
    height: 4vh;
    left: 628px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: black;
}

.foto_perfil{
    position: absolute;
    width: 7vw;
    height: 6vh;
    left: 1019px;
    top: 0px;
    background-image: url(./img/perfil.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cadastre-se{
    position: absolute;
    width: 8vw;
    height: 4vh;
    left: 1062px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.foto_porta{
    position: absolute;
    width: 10vw;
    height: 8vh;
    left: 1159px;
    top: -5px;
    background-image: url(./img/image-removebg-preview\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
}

.entrar{
    position: absolute;
    width: 6vw;
    height: 8vh;
    left: 1200px;
    top: -1px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.frame2{
    position: absolute;
    width: 1440vw;
    height: 5vh;
    left: 0px;
    top: 35px;
    background: #E7CCA5;
}


main{
    width: ;
    height: 30vh;
}

h2{
    position: absolute;
    width: 471vw;
    height: 113vh;
    left: 416px;
    top: 78px;
    font-family: 'Mouse Memoirs';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 10vh;
    color: #571F00;
    text-shadow: 12px 12px 9px rgba(0, 0, 0, 0.25);
}

h3{
    position: absolute;
    width: 761vw;
    height: 41vh;
    left: 235px;
    top: 150px;
    font-family: 'Mouse Memoirs';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #571F00;

}

/* footer{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
} */

